@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'PT Sans', sans-serif;
}
body {
  font-family: var(--second-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btnCommon {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background: #fc0;
  border-radius: 12px;
  width: 180px;
  padding: 16px 0;
  justify-content: center;
  text-align: center;
}

/* navbar start */

nav .toggleBtn {
  box-shadow: none !important;
  border: 1px solid #353535;
  color: #353535;
}
@media (max-width: 991px) {
  .container {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
}
.navbar .container {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
}

#myMenu ul li a {
  padding: 0 18px;
  font-weight: 500;
  line-height: 200%;
  font-size: 15px;
}

#myMenu ul li a.active,
#myMenu ul li a:hover {
  border-bottom: 2px solid #353535;
}

/* banner start */

.banner {
  padding: 60px 0;
}
.banner h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  color: #353535;
}
.banner h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #353535;
}
.banner p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #353535;
}
.btnCommon {
  border-radius: 20px;
  width: 209px;
  height: 69px;
  background: #fc0;
}
/* about start */
#about {
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
  margin-bottom: 60px;
}
#about .container {
  position: relative;
  overflow: hidden;
}
#about .container::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -120px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    #52ab70 0%,
    rgba(82, 171, 112, 0.48) 100%
  );
  z-index: 0;
}
.downloadBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #353535;
  border: 1px solid #000;
  border-radius: 20px;
  width: 209px;
  height: 69px;
  padding-top: 5px;
  text-align: center;
}
/*about end */
.banner-2 h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  color: #353535;
}
.banner-2 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 190%;
  color: #353535;
}
.banner-2 a {
  padding: 10px 20px;
}
#branding .container {
  position: relative;
  border-radius: 30px;
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
  margin-bottom: 60px;
}

#branding .topShape img {
  position: absolute;
  top: -25px;
  right: 30px;
}
.brandText h5 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 44px;
  color: #353535;
}
.brandText p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 190%;
  color: #353535;
  margin-bottom: 40px;
}
.seeBtn {
  font-family: var(--font-family);
  border-radius: 30px;
  padding: 15px 30px;
width: 1110px;
height: 473px;
border: 1px solid #000;
border-radius: 20px;
}
#branding .seeProject {
  position: relative;
}

#branding .seeProject .lineShape {
  position: absolute;
  top: -50px;
  left: 150px;
}
.box-1,
.box-2,
.box-3 {
  text-align: center;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 250px;
  border-radius: 20px;
}
.row h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 180%;
  text-align: center;
  color: #353535;
}
#card-3 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  text-align: center;
  color: #7a7a7a;
}
.b-1 {
  margin: 20px;
  padding: 15px 25px;
  align-items: center;
  display: flex;
  border-radius: 20px;
  width: 380px;
  height: 93px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.b-1 h6 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  color: #353535;
}
.b-1 p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 180%;
  color: #353535;
}

#txt h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  text-align: right;
  color: #353535;
}
.row {
  padding: 25px 0;
}
#txt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 190%;
  text-align: right;
  color: #353535;
}
#txt h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  color: #353535;
}
#txt h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  color: #353535;
}
/* end */
/* experience start */
.Title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #353535;
  margin-bottom: 80px;
}

.timeline h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  color: #353535;
}

.timeline p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #7a7a7a;
}
.timeline .work p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #7a7a7a;
}

.timeline .date {
  border-right: 2px dashed #7a7a7a;
  padding-bottom: 100px;
  position: relative;
}

.timeline .date::before {
  content: "";
  border: 2px dashed #7a7a7a;
  border-radius: 50%;
  position: absolute;
  width: 42px;
  height: 42px;
  right: -21px;
  top: -21px;
  background-color: white;
}

.timeline .date::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #52ab70;
  border-radius: 50%;
  right: -10px;
  top: -10px;
}

.timeline .date.red::after {
  background: #f17676;
}
.timeline .date.yellow::after {
  background: #ffd233;
}
/*experience end  */
/* start */

.expertTxt h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  color: #353535;
  margin-bottom: 22px;
}

.expertTxt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #7a7a7a;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border-radius: 20px;
  padding: 20px 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #353535;
}

.nav-tabs .nav-link.active {
  background-color: #fff;
  border: 1px solid #000;
}

.progress {
  height: 6px;
  border-radius: 10px;
  background: #e6e6e6;
}

.progress-bar {
  border-radius: 10px;
}
.progress {
  margin-bottom: 20px;
}
.skill p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  color: #353535;
}
.skill span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: right;
}
.skill .orange {
  color: #f16500;
}
.skill .darkBlue {
  color: #03249b;
}
.skill .purple {
  color: #700d60;
}
.skill .blue {
  color: #234bda;
}
.skill {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tab-content {
  margin-top: 20px;
  min-height: 300px;
}

.education li strong {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  color: #353535;
}
.education li {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
}
/* end */
/* sevices start */
#sevices {
  padding: 60px 0;
  background: #fff7d5;
}
#sevices h2 {
  font-family: var(--second-family);
font-weight: 700;
font-size: 50px;
text-align: center;
color: #353535;
}
#sevices p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 180%;
text-align: center;
align-items: center;
color: #7a7a7a;
}

#service-card .box-1,
.box-3 {
  text-align: center;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
height: 422px;
  border-radius: 20px;
}
#service-card .box-2 {
  border: 0.10px solid #353535;
border-radius: 12px;
width: 372px;
height: 448px;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
background: linear-gradient(151deg, #fc0 0%, #ffe476 98.84%);
}
#service-card .box-2 img {
  margin-top: 40px;
  margin-bottom: 20px;
}
#service-card .box-1, .box-3
 img {
  margin-top: 40px;
  margin-bottom: 20px;
}
#service-card .box-3, .box-1
 img {
  margin-top: 40px;
  margin-bottom: 20px;
}
/* sevices end */
/* start valuable */
#valuable {
  padding: 60px 0;
  background: #fbfbfb;
}
#valuable h2 {
  font-family: var(--second-family);
font-weight: 700;
font-size: 50px;
line-height: 135%;
color: #353535;
}
#valuable p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 180%;
color: #7a7a7a;
}
.valuableText p{
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 200%;
color: #7a7a7a;
}
.valuableText h4 {
  font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
line-height: 200%;
color: #353535;
  }
.valuableText h6 {
 font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 200%;
color: #7a7a7a;
  }
/* end valuable */
.Blog h2 {
  font-family: var(--second-family);
font-weight: 700;
font-size: 50px;
line-height: 135%;
text-align: right;
color: #353535;
}
/* end */
/* start blog */
.img-Txt {
  margin: 20px;
  }
#blog p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 190%;
color: #7a7a7a;
  }
#blog h5 {
 font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
text-align: left;
line-height: 190%;
color: #353535;
}
#blog a {
  font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 190%;
color: #353535;
  }
/* end */
/* newsletter start */
.newsletter {
  padding: 60px 0;
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
  border-radius: 30px;
width: 1110px;
height: 295px;
padding: 40px;
}
.newsletter h2 {
  font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 200%;
color: #353535;
  }
  .newsletter h6 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 200%;
color: #353535;
  }
  .newsletter p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 200%;
color: #353535;
  }

.search button {
  border-radius: 0 16px 16px 0;
width: 132px;
height: 82px;
background: #ff6565;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 200%;
color: #fff;
   }
   .search input {
    border-radius: 16px;
width: 455px;
height: 82px;
background: #fff;
   }
/* newsletter end */
/* footer start */
#footer {
  padding: 60px 0;
  margin-top: 50px;
  background: #575757;
  color: wheat;
}
.img-footer img {
  font-family: var(--third-family);
font-weight: 400;
font-size: 48px;
color: #fff;
}
.footer-txt  {
  padding-top: 80px;
  }
  .btnCommon {
  border-radius: 20px;
  width: 209px;
  height: 69px;
  background: #fc0;
}
.footer-follow span {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 180%;
text-align: justify;
color: #fff;
  }
  .footer-menu h2 {
   font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 200%;
color: #fff;
    }
    .footer-menu p {
   font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: justify;
color: #bbb9b9;
    }